Repository hmcts/am-judicial-booking-service, pull requests merged in 2020-06, with the labels that each got.

#1 Initial checkin for AM Judicial Booking Service. Fixing the terrafor…
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/am-judicial-booking-service/Chart.yaml
  charts/am-judicial-booking-service/values.yaml
  docker-compose.yml
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/judicialbooking/v1/V1.java
  src/main/resources/application.yaml
Labels: ns:am, rel:am-judicial-booking-service-pr-1

#2 Changed the DB host to dummy value.
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/am-judicial-booking-service/values.preview.template.yaml
  liquibase.gradle
  src/functionalTest/resources/features/F-000/S-000.td.json
  src/main/resources/application.yaml
  src/main/resources/liquibase.properties
  src/smokeTest/java/uk/gov/hmcts/reform/judicialbooking/BaseTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/judicialbooking/EmptySmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/judicialbooking/SmokeTest.java
Labels: ns:am, rel:am-judicial-booking-service-pr-2

#3 Dummy checkin.
  infrastructure/main.tf
  src/functionalTest/resources/features/F-000/F-000.feature
  src/main/java/uk/gov/hmcts/reform/judicialbooking/JudicialBookingApplication.java
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-3

#4 Master fix
  src/main/java/uk/gov/hmcts/reform/judicialbooking/JudicialBookingApplication.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/config/SecurityConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yml
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-4

#5 Initial chekin to raise the pull request.
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/functionalTest/resources/features/F-000/S-000.td.json
  src/main/java/uk/gov/hmcts/reform/judicialbooking/JudicialBookingApplication.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/controller/S2SAuthentication.java
  src/main/resources/liquibase.properties
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-5

#6 Fixing the smoke test.
  src/smokeTest/java/uk/gov/hmcts/reform/judicialbooking/EmptySmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/judicialbooking/SmokeTest.java
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-6

#8 Java version upgrade
  Dockerfile
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-8
