Repository hmcts/am-judicial-booking-service, pull requests merged in 2021-12, with the labels that each got.

#125 removing the DB to be able to recreate later with updated schema
  infrastructure/main.tf
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-125

#123 FTA for Judicial refresh
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/judicialbooking/befta/JudicialBookingAmTestAutomationAdapter.java
  src/functionalTest/resources/features/F-001/F-001-Base-Root.td.json
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/F-001_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-001/S-001.td.json
  src/functionalTest/resources/features/F-001/S-002.td.json
  src/functionalTest/resources/features/F-001/S-003.td.json
  src/functionalTest/resources/features/F-002/F-002-Base-Root.td.json
  src/functionalTest/resources/features/F-002/F-002.feature
  src/functionalTest/resources/features/F-002/F-002_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-002/S-011.td.json
  src/functionalTest/resources/features/F-002/S-012.td.json
  src/functionalTest/resources/features/F-002/S-013.td.json
  src/functionalTest/resources/features/F-002/S-014.td.json
  src/functionalTest/resources/features/common/BadRequestResponse.td.json
  src/functionalTest/resources/features/common/CreationBaseDataForBooking.td.json
  src/functionalTest/resources/features/common/DeleteDataForBookingResponse.td.json
  src/functionalTest/resources/features/common/DeleteDataForBookings.td.json
  src/main/java/uk/gov/hmcts/reform/judicialbooking/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/controller/endpoints/CreateBookingController.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/controller/endpoints/QueryBookingController.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/data/BookingRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/domain/service/BookingOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/domain/service/common/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/domain/service/querybookings/QueryBookingOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/v1/V1.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/judicialbooking/controller/endpoints/CreateBookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/controller/endpoints/QueryBookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/domain/service/BookingOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/domain/service/createbooking/CreateBookingOrchestratorTest.java
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-123

#127 Testing for judicial
  build.gradle
  src/main/java/uk/gov/hmcts/reform/judicialbooking/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/launchdarkly/FeatureConditionEvaluation.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/controller/endpoints/CreateBookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/controller/endpoints/QueryBookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/domain/service/BookingOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/domain/service/createbooking/CreateBookingOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/launchdarkly/FeatureConditionEvaluationTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/oidc/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/util/CorrelationInterceptorUtilTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/util/JacksonUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/util/JsonBConverterTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/util/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-127

#138 Update fortify release ID
  config/fortify-client.properties
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-138

#139 userid optional param to create api
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/S-004.td.json
  src/main/java/uk/gov/hmcts/reform/judicialbooking/domain/model/BookingRequest.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/util/CorrelationInterceptorUtil.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/util/ValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-139

#140 replacing the UUID check with string check
  src/main/java/uk/gov/hmcts/reform/judicialbooking/util/ValidationUtil.java
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-140

#136 Judicial Booking Provider Pact Testing
  build.gradle
  src/contractTest/java/uk.gov.hmcts.reform.judicialbooking/CreateBookingProviderTest.java
  src/contractTest/java/uk.gov.hmcts.reform.judicialbooking/ProviderTestConfiguration.java
  src/contractTest/java/uk.gov.hmcts.reform.judicialbooking/QueryBookingProviderTest.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/domain/service/BookingOrchestrator.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-136

#137 Integration test for create and query bookings
  src/integrationTest/java/uk/gov/hmcts/reform/judicialbooking/controller/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialbooking/controller/CreateBookingIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialbooking/controller/QueryBookingIntegrationTest.java
  src/integrationTest/resources/sql/insert_judicial_bookings.sql
  src/integrationTest/resources/sql/insert_role_assignment_request.sql
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-137

#146 Improving jbs mutation coverage
  src/main/java/uk/gov/hmcts/reform/judicialbooking/util/ValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-146

#145 Am 1866 smoketest
  build.gradle
  src/smokeTest/java/uk/gov/hmcts/reform/judicialbooking/BaseTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/judicialbooking/SmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/judicialbooking/UserTokenProviderConfig.java
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-145

#135 removed exception
  src/main/java/uk/gov/hmcts/reform/judicialbooking/controller/endpoints/QueryBookingController.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/domain/service/common/ParseRequestService.java
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-135

#147 Am 1857 minorfix
  src/main/java/uk/gov/hmcts/reform/judicialbooking/domain/service/BookingOrchestrator.java
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-147

#148 AM-1848: Judicial Booking F-002 adding new scenario.
  src/functionalTest/resources/features/F-002/F-002.feature
  src/functionalTest/resources/features/F-002/S-016.td.json
  src/functionalTest/resources/features/common/CreationBaseDataForBookingBeftaUser.td.json
  src/functionalTest/resources/features/common/DeleteDataForBookingsBeftaUser.td.json
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-148
