Repository hmcts/am-judicial-booking-service, pull requests merged in 2022-01, with the labels that each got.

#154 Am 1883 sonar vulnerabilities
  src/main/java/uk/gov/hmcts/reform/judicialbooking/config/AppInsights.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/config/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/util/CorrelationInterceptorUtil.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/util/JacksonUtils.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/util/ValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/domain/service/security/IdamRoleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-154

#155 Am 1882 testcoverageincrese
  build.gradle
  src/main/java/uk/gov/hmcts/reform/judicialbooking/util/ApplicationUtils.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/util/ValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/controller/S2SAuthenticationTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/controller/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/domain/service/BookingOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/domain/service/common/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/oidc/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-155

#157 excluding config classes
  build.gradle
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-157

#156 Enable nightly build
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-156

#161 fortify fix
  src/integrationTest/java/uk/gov/hmcts/reform/judicialbooking/controller/PersistenceIT.java
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-161

#163 upgrading the gradle version to 6.9
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-163

#164 Refresh Judicial Consumer Pact Test
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/judicialbooking/CreateBookingProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/judicialbooking/ProviderTestConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/judicialbooking/QueryBookingProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingRefreshConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/domain/model/JudicialRefreshRequest.java
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-164

#179 Removed jcenter from gradle build file and replaced it mavenCentral
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-179
