Repository hmcts/am-judicial-booking-service, pull requests merged in 2022-07, with the labels that each got.

#372 Suppression added
  charts/am-judicial-booking-service/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-372

#371 change local data types to var keywords in method
  src/integrationTest/java/uk/gov/hmcts/reform/judicialbooking/controller/WelcomeControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialbooking/controller/WireMockBaseTest.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/config/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/controller/endpoints/CreateBookingController.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/controller/endpoints/QueryBookingController.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/launchdarkly/FeatureConditionEvaluation.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/oidc/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/util/CorrelationInterceptorUtil.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/util/ValidationUtil.java
  src/smokeTest/java/uk/gov/hmcts/reform/judicialbooking/BaseTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/judicialbooking/SmokeTest.java
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-371

#369 Adding Collections
  src/test/java/uk/gov/hmcts/reform/judicialbooking/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/oidc/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/oidc/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/util/SecurityUtilsTest.java
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-369

#394 JBS:Nightly build failures due to CVE issues
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-394

#397 RAS:java version in helm repo version update
  charts/am-judicial-booking-service/Chart.yaml
  charts/am-judicial-booking-service/values.preview.template.yaml
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-397

#402 JBS:merge renovate PR's
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/.terraform-version
  infrastructure/terraform.tf
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-402
