Repository hmcts/am-judicial-booking-service, pull requests merged in 2022-11, with the labels that each got.

#517 fortify fix
  src/main/java/uk/gov/hmcts/reform/judicialbooking/config/AuthCheckerConfiguration.java
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-517

#520 wrapper in swagger
  src/integrationTest/java/uk/gov/hmcts/reform/judicialbooking/controller/CreateBookingIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/controller/endpoints/CreateBookingController.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/domain/model/BookingRequest.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/domain/model/BookingRequestWrapper.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/util/ValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/controller/endpoints/CreateBookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-520

#528 Create and query booking userId check
  src/contractTest/java/uk/gov/hmcts/reform/judicialbooking/CreateBookingProviderTest.java
  src/functionalTest/resources/features/F-001/S-004.td.json
  src/functionalTest/resources/features/common/CreationBaseDataForBookingBeftaUser.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/judicialbooking/controller/CreateBookingIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialbooking/controller/QueryBookingIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/controller/endpoints/CreateBookingController.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/domain/model/BookingRequest.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/domain/model/BookingRequestWrapper.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/domain/service/common/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/judicialbooking/util/ValidationUtil.java
  src/smokeTest/java/uk/gov/hmcts/reform/judicialbooking/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/controller/endpoints/CreateBookingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/domain/service/common/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/judicialbooking/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-judicial-booking-service-pr-528
